.kv-zoom-body {
	position: relative;
}

.threed-model {
	position: absolute;
	width: 100%;
	height: 100%;
}

.threed-model-loader {
	color: red;
	font-size: 20px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: calc(50% - 10px);
	text-align: center;
}