@import "../../../vendor/bower/bootstrap/less/bootstrap.less";

html,
body {
  height: 100%;
}

body,
body > .header .logo,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Arial", sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.docs {
  .toc {
    //h1 {
    //  .lead;
    //  margin-top: 0.5em;
    //}
    //h2 {
    //  font-size: 1em;
    //  font-weight: bold;
    //  margin-top: 1em;
    //}
    //ul {
    //  .list-group;
    //  margin-bottom: 0.5em;
    //}
    //& > ul > li {
    //  .list-group-item;
    //}
    //ul li ul li {
    //  margin-left: 1em;
    //}
  }
  .file-content {
    font-size: 1.2em;
    line-height: 1.6em;
    blockquote {
      //background: lighten(@gray-lighter, 3%);
    }
  }
}
[class^='select2'] {
  border-radius: 0px !important;
}

// Make required fields visible and put * mark
form div.required label.control-label:after {
  content: "\00a0\00a0*";     /* \00a0 is non breaking space */
  color: #FF0000;
}