html,
body {
  height: 100%;
}

body,
body > .header .logo,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Arial", sans-serif;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.crud-navigation {
  padding-bottom: 10px;
}

.record-history {
  margin-top: 10px;
}

form div.required label.control-label:after {
  content: "\00a0\00a0*"; /* \00a0 is non breaking space */
  color: #FF0000;
}

.file-preview-image {
  max-width: 100% !important;
  object-fit: contain;
}

.logo {
  background-position: center left;
  text-align: right !important;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/*!* add sorting icons to gridview sort links *!*/
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

form .table-hint {
  margin-top: 20px;
}

.table-responsive .table-hint {
  margin-bottom: 10px;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.docs {
  .file-content {
    font-size: 1.2em;
    line-height: 1.6em;
    blockquote {
      //background: lighten(@gray-lighter, 3%);
    }
  }
}

[class^='select2'] {
  border-radius: 0px !important;
}

// Make required fields visible and put * mark*/
form div.required label.control-label:after {
  content: "\00a0\00a0*"; /* \00a0 is non breaking space */
  color: #FF0000;
}

/**
Login page
*/
.login {
  height: 100% !important;
}
body.login {
  padding: 0 !important;
  margin: 0 !important;
}

.wrapper.login {
  width: 100%;
  background: none;
}

.content.login {
  height: 100%;
  position: relative;
}
.login-wrapper {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

}

.login-logo {
  background-position: center center;
  width: 100%;
  height: 100px;
}


.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: normal;
}
.treeview-menu li span {
  padding-left: 1.5em;
  display: list-item;
}
.treeview-menu li i {
  float:left;
  margin-top: 3px;
}

// Dateranger picker when window is too small
.form-control .kv-drp-dropdown {
  overflow: hidden;
}

// Loading modal on form submit
.loading-overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}

#loadingModal {
  background: rgba(0,0,0,0.2) !important;
}
#loadingModal .modal-content {
  text-align: center;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  /* To center horizontally */
  margin-top: 40%;
}
#loadingModal i {
  color:rgba(255,255,255, 0.5);
}

.datagrid-image {
  position: relative;
  width: 45px;

  &:hover img {
    -moz-transform: scale(4);
    -webkit-transform: scale(4);
    transform: scale(4);
  }

  img {
    max-width: 100%;
    text-align:center;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position:relative;
    z-index:1;
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
  }
}

.datepicker  {
  z-index: 1050 !important;
}

.login-wrapper {
  height: unset !important;
}
.giiant-crud form .col-md-6 .form-group{
  min-height: 90px;
}
.schema-generate-btn-sec button{
	margin: 5px;
}
.column-3{
    column-count: 3;
}
.text-left{
    text-align: left !important;
}
.checkbox-container .checkbox{
    padding-top: 0;
}

@media (max-width:767px){
.column-3{
    column-count: 1;
}
}
.check_ns_group{
	background-color: #f2f2f2;
	padding: 15px;
	margin: 5px 0;
}

.align-label{
    display: inline-flex;
    align-itmes: center;
}
.align-label input{
    margin-right: 5px;
}
.schema-generate-btn-sec button{
    margin: 5px 5px 5px 0;
}
.or-sep::after {
    content: "";
    height: 3px;
    width: 200px;
    background: #c1c1c1;
    position: absolute;
    top: 10px;
    left: 245px;
}
.or-sep::before {
    content: "";
    height: 3px;
    width: 200px;
    background: #c1c1c1;
    position: absolute;
    left: 0;
    top: 10px;
}
.or-sep {
    position: relative;
    padding-left: 215px;
	margin-bottom: 35px;
	margin-top: 35px;
	font-weight:600;
}
.cus_drop{
	min-width: unset;
}

.dropdown-menu > li > a{
	padding: 10px 20px;
}
.dropdown-menu.cus_drop > li > a .glyphicon{
	color:#3c8dbc
}
.sortable-row.ui-sortable-handle{
	cursor: all-scroll;
	padding: 6px 5px 6px 5px;
}
.sortable-row.ui-sortable-handle .glyphicon{
	color:#3c8dbc;
}
.btn-act-dot{
color:#3c8dbc;
}
.sortable-row.ui-sortable-handle.btn .label{
	color:#333333
}
li.grid-act-divide{
	padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
}
.sortable-row .label {
    padding: 0px 5px 0 0;
}
.btn-act-dot {
    padding: 6px 4px;
}

.sowing-outer{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px;
}
.sowing-outer + br{
	display: none;
}
.nav-tabs .summary{
	padding: 17px 0;
}
.tab-pane .summary{
	padding: 17px 0;
}
.grid-outer-div .table{
	margin-bottom: 0;
}
.grid-outer-div{
	margin-bottom: 20px;
}
.dropdown{
	display: inline-block;
}
.dropdown-menu.kv-checkbox-list .checkbox{
    margin: 0px;
    padding: 10px 20px;
}
@media (max-width: 767px) {
  .table-responsive .dropdown-menu {
    position: relative !important; /* Sometimes needs !important */
  }
}
.action-column{
width:40px;
}

/* hide ck editor handle */
.table .ck {
  display: none;
}

.table td.ck-editor__editable {
  border: 1px solid silver !important;
  padding: 10px;
}