html {
    overflow: hidden;
}

* {
    cursor: none;
}
iframe {
    border: 0px;
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 1.36;
}

.field {
    overflow: hidden;
}
.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.weather {
    width: 100%;
    height: 100%;
}

.weather-icon {
    margin: -2%;
    max-width: 100%;
    max-height: 100%;
}

small {
    font-size: 0.7em;
}
