.offline-section {
    position: fixed;
    height: 100vh;
    width: 100%;
    line-height: 200px;
    background: rgb(255 255 255 / 85%);
    background: rgb(0 0 0);
    display: flex;
    z-index: 999999;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #ffffff;
}