

.document-editor {
	border: 1px solid #DFE4E6;
	border-bottom-color: #cdd0d2;
	border-right-color: #cdd0d2;
	border-radius: 2px;
	max-height: 700px;
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

.ck-toolbar-container {
	z-index: 1;
	position: relative;
	box-shadow: 2px 2px 1px rgba(0,0,0,.05);
}

.ck-toolbar-container {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}
.content-container {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0 auto;
}
.toolbar-container {
	z-index: 1;
	box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );
	border-bottom: 1px solid #ccc;
}
.content-container {
	overflow-y: scroll;
}

.ck-editor__editable {
	min-height: 150px;
	max-height: 300px;
}
