/* .tui-image-editor-container{
	
} */
.ie-container-outer{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1
}
.ie-container-outer.showon-top{
	z-index: 9999;
}
.design-preview{
	margin-bottom:5px;
}