.c-sign-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    opacity: 0.3;
}
.signature-pad--body {
    position: relative;
}
.signature-pad--body:hover .c-sign-desc {
    display: none;
}
.sign-demo {
    margin-bottom: 5px;
    position: relative;
}
.sign-demo .sign-preview {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #eff3f7;
    border: 1px solid #000;
    padding: 1px 4px;
}
.sign-demo img+.sign-preview {
    display: block;
}

img.sign-img{
	border:1px #d9d9d9 solid;
	    max-width: 100%;
    width: 100%;
}
.signature-pad--body canvas {
    min-height: 151px;
}
.canvas-fullscreen-actions{
	position: fixed;bottom: 10px;left: 10px;z-index: 9999;
}
.canvas-actions{
	text-align:right
}
.canvas-img-actions{
	text-align:right
}