/*
 * Copyright (c) 2017.
 * @author Nikola Tesic (nikolatesic@gmail.com)
 */

.ajax-loading {
    opacity: 0.5;
    background: #ffffff url('../images/loading.gif') center center no-repeat !important;
}
.overlay-first {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}
.overlay-next {
    left: 0;
    top: 0;
}
