body {
  font-size: 1em;
  font-weight: 100;
  background: black;
  color: #fefefe;
  font-family: sans-serif;
}

h1 {
  font-size: 5vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 1.3vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

small,
.small {
  font-size: 85%;
}

.d-flex {
  display: flex;
}
.flex-0 {
  flex: 0 !important;
}
.flex-1 {
  flex: 1 !important;
}
.flex-2 {
  flex: 2 !important;
}
.flex-3 {
  flex: 3 !important;
}
.flex-4 {
  flex: 4 !important;
}
.flex-5 {
  flex: 5 !important;
}
.flex-6 {
  flex: 6 !important;
}
.flex-7 {
  flex: 7 !important;
}
.flex-8 {
  flex: 8 !important;
}
.flex-9 {
  flex: 9 !important;
}
.flex-10 {
  flex: 10 !important;
}
.flex-columns {
  flex-direction: column !important;
}
.flex-rows {
  flex-direction: row !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}
.justify-content-center {
  -ms-justify-content: center !important;
  justify-content: center !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

@media screen and (min-width: 1100px) {
  body {
    font-size: 2em;
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 3.2em;
  }
}
