body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  height: calc(100vh - 50px);
  padding: 0 0.5rem;
}

.header {
  font-size: 50%;
  background: #272727;
  height: 50px;
}

.header img {
  height: 35px;
  margin: 0px 15px;
}

#metainfo_line {
  font-size: 0.8rem;
  line-height: 1.4;
}
#station_title, #clock {
  font-weight: 400;
  font-size: 140%;
}
.table {
  margin: 0.25em 0.1em;
  padding: 0.2em;
  background: #272727;
  display: flex;
  flex-direction: column;
}
.table img {
  display: block;
  /*height: 100%;
  width: 100%;*/
  object-fit: cover;
  margin: auto;
}

.img-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.table__title {
  font-size: 1rem;
  margin-top: -1.5em;
  padding: 0.5em;
}
.tr {
  display: flex;
  align-items: center;
  background: #272727;
  flex: 1;
  /* font-size: 100%; */
}
.tr:nth-child(even) {
  background: black;
}
.td {
  padding: 0.1em 0.25em;
  font-weight: 700;
}

.td--data {
  font-weight: 700 !important;
}
.td:nth-child(1) {
  font-weight: 400;
}
#box-images {
  margin-left: -0.1em;
  margin-right: -0.1em;
  overflow: hidden;
}
#box-images .td {
  padding: 0 0.1em !important;
}
.text-yellow, #news .text strong, #hint .text strong {
  color: #f4fc03;
}

#news .text {
  font-size: 70%;
}

.text ul {
  list-style: disc
}

.text ol {
  list-style: decimal;
}

.text-small {
  font-size: 70%;
}
.text-big {
  font-size: 180%;
}
.table--red .td {
  background: #cd3201;
  font-weight: 700;
}
.table--blue .td {
  background: #3167cc;
  font-weight: 700;
  padding: 0.25em;
}
.table--title {
  margin-top: 0.5em;
}
.table--small .tr {
  font-size: 55%;
}

.clock {
  text-align: right;
  margin: 0 0.5em;
}
.alert-danger{
  background-color: #f44336;
}
.alert-success{
	background:#28a745;
}
.alert-info{
	background-color: #47d2c5;
}
#extra-section{
 position:absolute;
 top:70px;
 right:30px;
 
}
.alert {
  font-size: 16px;
  width: 100%;
  max-width:380px;
  color:#fff;
  padding:20px;
  box-shadow:0 3px 6px rgba(0,0,0,.8);
  margin-bottom:5px;
  float: right;clear:both;
}
.text-dots{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height:20px
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.at-page-center{
	left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
/* Spinner */
/*
.bg-loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.spinner-large {
  height: 140px;
  width: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 100%;
}
 */

#loader {
  margin-right: 10px;
  opacity: 0.5;
}

.spinner,
.spinner * {
  box-sizing: border-box;
}

.spinner {
  height: 20px;
  width: 20px;
  transform: translate(-50%, -50%);
  margin-top: 100%;
  margin-left: 50%;
}

.spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(30px / 10) solid transparent;
}

.spinner .circle.circle-1 {
  border-top-color: #fff;
  animation: spinner-animation 1s infinite;
}

.spinner .circle.circle-2 {
  border-bottom-color: #fff;
  animation: spinner-animation 1s infinite alternate;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
