
html, body, #guider-content {
}
footer {
  margin-top:calc(8% + 75px);
}
.shortname-label {
    position: absolute;
    top: 0.8rem;
    left: 1.6rem;
}
.cursor-pointer{
	cursor:pointer
}
table {
    max-width: 100%;
}
table td p {
    font-size: inherit !important;
    margin: 0;
}
table td {
    padding: 5px;
}

.ck {
    display: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid silver !important;
}
.guide-resume-notification,.flash-msg-sec {
    position: absolute;
    right: 7px;
    top: 77px;
    padding: 12px 35px 12px 12px;
    z-index:9
}
.guide-resume-alert,.flash-msg-alert{
	padding: 12px 35px 12px 12px;
}
.guide-step-blur{
	opacity:10%;
	filter:blur(3px);
	
	}
.guide-step-pj{
	-webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.guide-resume-notification .close {
    padding: 11px;
}
.send-guide-sec{
	display: inline-block;
    position: fixed;
    top: 40%;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    margin: auto;
    z-index:9
}
.user-guide-btn.collapsed:focus,
.user-guide-btn.collapsed {
    left: -31px;
    background: #10ff00;
}
.user-guide-btn {
	transition: 0.3s all;
}
.user-guide-btn.collapsed:hover, .user-guide-btn:hover {
    left: 0;
}
.user-guide-sec {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    min-width: 250px;
    box-shadow: 1px 1px 10px #eee;
    position: absolute;
    top: 5px;
    left: 50px;
}
.user-guide-sec .form-group, 
.user-guide-sec form {
    margin-bottom: 0;
}
.user-guide-sec .btn {
    padding: 9px 15px 7px;
    margin: 8px 0 0;
}
.user-guide-btn.collapsed:hover {
    background: #195d91;
}


@media (max-width: 991px){
    .nav-item.active {
        color: #3C4858 !important;
    }

    .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus {
        background-color: rgba(0,0,0, 0.1);
    }
}


/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
#guider-content h1 {font-size:1.3rem;} /*1rem = 16px*/
#guider-content h2 {font-size:1.1rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #guider-content h1 {font-size:1.6rem;} /*1rem = 16px*/
    #guider-content h2 {font-size:1.4rem;} /*1rem = 16px*/
    #guider-content p, #guider-content ul, #guider-content td {
        font-size:1.1em;
        line-height: 1.1em;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #guider-content h1 {font-size:1.9rem;} /*1rem = 16px*/
    #guider-content h2 {font-size:1.7rem;} /*1rem = 16px*/
    #guider-content p, #guider-content ul, #guider-content td {
        font-size:1.3em;
        line-height: 1.3em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #guider-content h1 {font-size:2.2rem;} /*1rem = 16px*/
    #guider-content h2 {font-size:2rem;} /*1rem = 16px*/
    #guider-content p, #guider-content ul, #guider-content td {
        font-size:1.5em;
        line-height: 1.5em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #guider-content h1 {font-size:2.5rem;} /*1rem = 16px*/
    #guider-content h2 {font-size:2.3rem;} /*1rem = 16px*/
    #guider-content p, #guider-content ul, #guider-content td {
        font-size:1.7em;
        line-height: 1.7em;
    }
}

.tt-menu {
    border-radius: 0 0 7px 7px;
    right: 0px;
    left: auto !important;
    width: 100%;
}

.tt-cursor .row{
    background-color: #cde0fc !important;
    /*color: white;*/
}

    /** Added from this point */
.twitter-typeahead{
     width: 100%;
}

/* .preview-img {
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    margin-right: 8px !important;
} */

.guide-steps {
    background-color: transparent;
}

.modal-dialog {
    max-width: 90% !important;
    margin-left: 6%; 
}

@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipad-column{
        flex-direction: column;
    }
    .ipad-column > .col-lg-7{
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .ipad-column > .col-lg-5{
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

}