:root{
    --main-logo: '';
    --main-icon: '';
    --main-bg: '';
}

.logo-image {
    background-image: var(--main-logo);
    background-size: contain;
    background-repeat: no-repeat;
}
.disable-section {
	pointer-events: none;
	opacity: 0.4;
}

.btn-toolbar .btn-group{
    margin-bottom: 8px;
}
.giiant-crud .summary {
    margin-top: -19px;
}
.btn-group > .btn-group{
    margin-bottom: 0px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px;
}
.btn{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
#ar-history-grid{
	margin-top:25px
}
.dropdown-menu{
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.v-middle{
	vertical-align: middle;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected]{
    background-color: #3184df;
}
.sp-krajee.sp-replacer{
	display:inline-flex
}
.crud-fld-color-type{
	height:23px;width:30px;
}
/*table*/
@media screen and (max-width: 480px){
    .kv-grid-toolbar .dropdown-menu{
        left:0;
    }
    body{
        font-size: 14px;
    }
    .select2-container--krajee .select2-selection--single{
        padding: 7px 24px 6px 12px;
    }
    .kv-table-wrap tr > td:first-child {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        font-size: 14px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 5px 8px;
        line-height: 1.3;
        font-size: 14px;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f6f6f7;
    }
    /*panel*/
    .panel-default {
        border-color: #e6e6e7;
    }
    .panel-default > .panel-heading{
        background-color: #f5f5f5;
        border-color: #e6e6e7;
    }
}
/*select2 vertical alignment*/
.select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0;
}
/*btn border*/
.btn{
    border:1px solid #ccc;
}
@media screen and (max-width: 480px){
    /*form action buttons */
    .form-action-group {
        display: grid;
    }
    .form-action-group .btn{
        display: block;
        margin-bottom: 8px;
        min-width: calc(50% - 5px);
    }

}
/*  logo*/
.logo-image {
    background-size: auto 80%;
    background-position: center;
}
.skin-black .main-header .logo:hover {
    background-color: #fff;
}
.sidebar-collapse .logo-image{
    background-image: var(--main-icon);
    background-repeat: no-repeat;
}

/*user dropdown menu*/
.navbar-nav > .user-menu > .dropdown-menu{
    width: 246.35px;
}
.user-header{
    display: flex;  justify-content: space-between;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{
    text-align: left;
    flex: 1;
    margin-top: 0px;
}
/*.user-footer .btn, .user-footer a {
    width:100%;
    display: block;
    float: none;
    border:0px;
    padding: 6px 12px !important;
}*/
.user-footer .btn:hover, .user-footer a:hover, .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover{
    color:#3c8dbc !important;
}
.roles-header {
    text-align: unset;
    margin-top: -10px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 10px;
}
.sidebar-mini.sidebar-collapse .user-panel .image>div {
    width: 30px !important;
    height: 30px !important;
}
.panel-heading{
    padding:12px 15px;
}
.panel-heading .panel-title>div{
    height: 20px !important;
    width: 20px !important;
    margin-right: 5px;
}
.center table{
    width: 100%;
}
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu{
    max-width: 220px;
}
#notificationModal .modal-body{
    word-break: break-word;
}
@media (min-width: 768px){
    #toolbar_toggle {
        display: none;
    }
}
@media (max-width:767.98px) {
    .dropdown-action-menu{
        left: 100px !important;
    }
    .main-header .navbar{
        min-height: 40px;
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
        min-width: 130px !important;
    }
    .btn-toolbar .btn-group{
        display: block;
    }
    .btn-toolbar >.btn-group{
        display: block;
        width: calc(50% - 31px);
    }
    .kv-panel-before{
        position: relative;
    }
    #toolbar_toggle {
        display: block;
        position: absolute;
        right: 8px;
        top: 10px;
        box-shadow: none !important;
        background: #fff !important;
        border: 1px solid #ddd;
    }
    .toolbar-container{
        display: none;
    }
    .sidebar-mini .main-header .logo-image {
        background:#fff var(--main-logo);
        background-size: auto 32px;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom: 1px solid #ddd;
    }
    .sidebar-mini .sidebar-collapse .main-header .logo{
        background-image: var(--main-logo);
        background-repeat: no-repeat;
    }
    .navbar-custom-menu .navbar-nav > li > a, .main-header .sidebar-toggle{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #php-info .center{
        overflow-x:auto;
    }
    #php-info table h1{
        font-size: 14px;
    }
    .giiant-crud .summary {
        margin-top: 7px;
    }
    .giiant-crud .panel-heading{
        padding-bottom: 3px;
    }
}
.main-header nav.navbar {
    border-top: 1px solid #eee;
}
@media (max-width: 991px) {
    .user-menu span {
        display: none;
    }
    .user-menu span i {
        display: block;
    }
    .kv-grid-table td, .kv-table-wrap td, .kv-grid-table th, .kv-table-wrap th {
        font-size: 14px !important;
        white-space: inherit !important;
    }
}

.logo-lg, .login-logo {
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
}
.skin-black .sidebar-menu .treeview-menu > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
}

.design-preview .img-responsive {
    max-height: 300px;
}
.background-image {
     background-image: var(--main-bg);
     background-repeat: no-repeat;
     background-size: cover;
 }
.btn-single-action a {
    padding: 6px 12px;
}
.btn.btn-default.btn-single-action {
    padding: 4px 0;
}
.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field{
    min-width: unset;
    width: auto !important;
}
figure.media {
    display: unset !important;
    align-items: unset !important;
}
.has-success label.btn {
    color: #fff;
}
.h-100 {
         height: 100%;
     }
.login-wrapper {
    max-height: 100%;
    min-width: 310px;
    max-width: 600px;
    overflow-y: hidden;
    height: auto !important;
    flex-direction: row;
    display: flex;
}
.login-wrapper > .panel {
    width: 100%;
    margin-bottom: 0px;
}